$bg-top-search: #302f4c;
$bg-top-btn: linear-gradient(270deg, #00d4ff 0%, #0068ff 100%);
$bg-top-btn2: #142342;
$color-danger: #f76560;
$color-white: #fff;
$color-blue: #00b1ff;
$font-weight-top-label: 400;
$font-size-top-label: 15px;

.el-button {
    background-color: $bg-top-btn2;
    color: $color-blue;
    border: 1px solid $color-blue;
}
.el-button--primary {
    background: $bg-top-btn !important;
    color: $color-white;
}

.el-button--danger {
    color: $color-danger !important;
    background-color: transparent !important;
    border: 1px solid $color-danger !important;
}
